.wrapper {
    display: flex;
    margin: 6px 24px 6px 48px;
    padding: 2px 24px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    align-items: center;
}

.reply {
    flex: 1;
}

.body {
    display: flex;
    align-items: center;
}

.username {
    font-size: 1.6rem;
}

.createAt {
    margin-left: 12px;
    font-size: 1.3rem;
}

.content {
    margin-top: 4px;
    font-size: 1.5rem;
}
