/* Sidebar */
.overlay {
    position: fixed;
    top: 74px;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 230px;
    background: white;
    z-index: 11;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.navbar,
.languages,
.other {
    padding: 12px 24px;
    border-top: 1.5px solid #333;
}

.languageList,
.navList {
    list-style: none;
}

.navItem,
.languageItem,
.otherItem {
    display: flex;
    align-items: center;
    padding: 12px 4px;
    border-radius: 20px;
    svg {
        width: 40px;
    }

    &:active {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
