.wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 20px 40px;
    margin: 50px auto;
}

.header {
    border-bottom: 4px solid var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 4px solid var(--white);
    user-select: none;
}

.fullname {
    font-size: 2.4rem;
    font-weight: 700;
    padding: 16px 0;
}

.action {
    display: flex;
    padding: 12px 0;
}

.body {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    width: 80%;
}

.list {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item {
    padding: 12px 0;
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.box-left,
.box-right {
    display: flex;
    align-items: center;
}

.avatar-friends {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.name-friends {
    margin-left: 8px;
    font-size: 1.6rem;
    font-weight: 500;
}

.chat-friends {
    border-radius: 20px;
    margin-right: 12px;
}

.btn-more {
    cursor: pointer;
}

// Mobile
@media (max-width: 767px) {
    .wrapper {
        width: 94%;
        background-color: transparent;
        padding: 0;
        margin: 0 auto;
    }

    .avatar {
        width: 180px;
        height: 180px;
    }

    .fullname {
        font-size: 2rem;
    }

    .list {
        width: 100%;
    }

    .item {
        width: 100%;
        border-bottom: 1px solid var(--text-color);
    }
}
