.wrapper {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
    width: 100%;
}

.statistic {
    margin-top: 24px;
    width: 80%;
    background-color: transparent;
    padding: 12px;
    display: flex;
    flex-direction: column;
}
.statistic-heading {
    font-size: 2.8rem;
    font-weight: 600;
    padding: 12px 0;
    font-weight: bold;
    text-transform: uppercase;
}

.filter-item {
    margin-bottom: 12px;
    label {
        display: block;
        margin-bottom: 8px;
    }
}

// date
.datepicker-input,
.select-type {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1.7rem;
    background-color: #f9f9f9;
    color: black;

    &:focus {
        border-color: var(--primary);
        outline: none;
    }
}

.apply-btn {
    background-color: var(--primary);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    margin: 20px 0px;
    cursor: pointer;

    &:hover {
        background-color: #8ae4db;
    }
}

.statistic-figures {
    display: flex;
    justify-content: space-between;
}

.figures-total {
    width: 23%;
    background-color: var(--white);
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    }
}

.header-figures {
    width: 100%;
    font-size: 2rem;
    padding: 12px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.body-figures {
    padding: 6px 0;
    font-size: 2.4rem;
    color: var(--black);
}

.footer-figures {
    display: flex;
    align-items: center;
    padding: 6px 0;
    color: #777;
    font-size: 1.4rem;
    svg {
        margin-right: 6px;
    }
}

.statistic-heading-chart {
    margin: 30px auto;
    font-size: 20px;
    font-weight: bold;
}

.chart-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 420px;
    padding: 20px;
    background: #e0e0e0;
    border-radius: 8px;
    position: relative;
}

.bar-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.bar {
    width: 25px;
    border-radius: 5px 5px 0 0;
    transition: height 0.3s ease-in-out;
}

.bar-revenue {
    background: #1dbfaf;
}

.bar-profit {
    background: #f39c12;
}

.month-label {
    margin-top: 8px;
    font-size: 12px;
    font-weight: bold;
}

/* Legend Styles */
.legend {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.legend-box {
    width: 15px;
    height: 15px;
    border-radius: 3px;
}

.legend-revenue {
    background: #1dbfaf;
}

.legend-profit {
    background: #f39c12;
}

// top 5 user ads
.top-users {
    margin-top: 40px;
    padding: 16px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

    &-title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 12px;
    }

    table {
        width: 100%;
        border-collapse: collapse;

        th,
        td {
            padding: 8px 12px;
            text-align: left;
            border-bottom: 1px solid #eee;
        }

        th {
            background-color: #f9f9f9;
            font-weight: 500;
        }
    }
}
