.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 52%;
    margin-top: 20px;
}

// Mobile
@media (max-width: 767px) {
    .wrapper {
        hr {
            width: 100%;
            display: block;
            border-bottom-width: 1px;
            border-bottom-color: #00000019;
        }
    }
}
