.wrapper {
    display: flex;
    flex-direction: column;
    margin: 12px 18px;
    border-radius: 12px;
    background-color: #f9f9f9;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.user {
    display: flex;
    align-items: center;
}

.img {
    width: 40px;
    height: 40px;
    border: 2px solid var(--primary);
    border-radius: 50%;
}

.username {
    font-size: 1.8rem;
    font-weight: 700;
    margin-left: 12px;
    color: var(--text-color);
}

.datetime {
    margin-left: 12px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #555;
}

.content {
    font-size: 1.8rem;
    padding: 12px 50px;
    color: var(--text-color);
    font-weight: 600;
}

.interact {
    display: flex;
    padding-left: 40px;

    .like,
    .reply {
        color: var(--primary);
        padding: 6px;
        font-size: 1.6rem;
        font-weight: 600;
    }
}

.more-reply {
    font-size: 1.3rem;
    color: var(--black);
    font-weight: 500;
    cursor: pointer;
    margin: 12px 0 0 32px;
    max-width: fit-content;
    border-radius: 20px;
    &:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }
}

// Modal
.modal {
    display: none;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 340px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white);
    border-radius: 12px;
    padding: 12px;
    font-size: 1.6rem;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    padding: 12px 6px;
}

.modal-body {
    flex: 1;
    padding: 0 8px;
    .modal-title {
        font-size: 1.4rem;
    }
}

.modal-footer {
    padding: 8px 12px;
    display: flex;
    justify-content: flex-end;
}

.form-reply {
    padding: 6px 32px;
    display: flex;
    align-items: center;
    // position: relative;
}

.reply-input {
    flex: 1;
    font-size: 1.6rem;
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.reply-icon {
    &:hover {
        color: var(--primary);
    }
}

// Mobile
@media (max-width: 767px) {
    .wrapper {
        margin-top: 8px;
        padding: 0;
    }

    .img {
        width: 24px;
        height: 24px;
        border: none;
    }

    .username,
    .content {
        font-size: 1.5rem;
    }

    .datetime {
        font-size: 1.3rem;
    }

    .content {
        padding: 8px 38px;
    }

    .interact {
        .like,
        .reply {
            font-size: 1.3rem;
        }
    }
}
