*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid{
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}   
.grid__row-6{
    padding-left: 12px;
    padding-right: 12px;
    width: 50%;
}
/* Header */
.header{
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    height: 70px;
    border-bottom: 2px solid #b8b8b8;
    background-color: #f9f9f9;
}
.header-logo__link{
    display: block;
    height: 68px;
}
.header-logo__link-img{
    height: 68px;
}
.header-banner{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-banner-heading{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bolder;
    color: #0D6CC4;
}
.header-search{
    flex: 1;
    display: flex;
    align-items: center;
    color: #555;
    font-size: 1.8rem;
}

.header-search__input{
    font-size: 1.6rem;
    position: relative;
    left: 240px;
    font-weight: 500;
    width: 70%;
    padding: 4px 40px 4px 30px;
    height: 40px;
    border: 2px solid #b8b8b8;
    border-radius: 20px;
}
.header-search__btn{
    font-size: 2rem;
    border: none;
    background: none;
    position: relative;
    right: -204px;
}

.header-search__btn:hover{
    opacity: 0.7;
    cursor: pointer;
}

.header-create{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-create__link{
    font-size: 1.4rem;
    background-color: rgb(238, 238, 238);
    text-transform: capitalize;
    color: rgb(0, 0, 0);
    border: 1px solid #b8b8b8;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    display: block;
}
.header-notify{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.header-notify__icon > i {
    cursor: pointer;
}

.header-account{
    margin-right: 40px;
    align-items: center;
    position: relative;
    width: 45px;
}
.header-account__img{
    height: 45px;
    width: 50px;
    margin-right: 26px;
    border: 1px solid #b8b8b8;
    border-radius: 50%;
    cursor: pointer;
}
/* Account */
.header-auth{
    display: flex;
    flex: 0;
    align-items: center;
    margin-right: 10px;
}

.header-auth > span {
    font-size: 2.8rem;
    font-weight: 500;
}

.header-auth__login-link,
.header-auth__register-link{
    text-decoration: none;
    color: #333;
    font-size: 1.8rem;
    display: block;
    padding: 6px 10px;
}

.header-account:hover > .header-account__list{
    display: block;
}

.header-account__list{
    box-shadow: 1px 1px 5px #999;
    position: absolute;
    right: -4px;
    top: 74px;
    list-style: none;
    background-color: #fff;
    display: none;
    transition: transform 1s ease 1s;
    border-radius: 4px;
    min-width: 154px;
    width: fit-content;
    max-width: 300px;
}

.header-account__item-link{
    padding: 10px 14px;
    display: block;
    text-decoration: none;
    color: #444;
    font-weight: 500;
    font-size: 1.8rem;
}

.header-account__username{
    padding: 10px 10px 6px 10px;
    font-weight: 600;
    font-size: 1.8rem;
    overflow: hidden;
    display: block;
    text-decoration: none;
    color: #444;
    border-bottom: 2px solid #999;
    white-space: nowrap;
}

.header-account__list::before{
    content: "";
    position: absolute;
    border-width: 17px 26px;
    border-style: solid;
    right: 2px;
    top: -33px;
    border-color: transparent transparent #fff transparent;
}

.header-account__list::after{
    content: "";
    position: absolute;
    top: -22px;
    height: 30px;
    width: 152px;
}

.header-account,
.header-auth{
    display: none;
}

.liked {
    color: red;
    border-color:red;
}
