.wrapper {
    width: 100%;
}

.container {
    width: 1100px;
    margin: 30px auto 0;
    position: relative;
}

.category {
    position: fixed;
    top: calc(var(--header-height) + 30px);
    height: 200px;
    width: 300px;
    text-align: center;
}

.policy {
    font-size: 1.6rem;
    padding: 8px 40px;
    font-weight: 600;
    border-radius: 20px;
    margin: 0 auto;
    border: 1.5px solid var(--text-color);
}

.nav {
    width: 100%;
    list-style: none;
    margin-top: 20px;
}

.item {
    text-transform: capitalize;
    cursor: pointer;
    text-align: left;
    width: 100%;
    font-size: 1.9rem;
    color: var(--text-color);
    padding: 16px 40px;

    &.selected {
        font-weight: 700;
        font-size: 2rem;
        color: var(--primary);
    }
}

.content {
    margin-left: 300px;
}

.body {
    padding: 4px 24px 24px;
    font-size: 2rem;

    h2,
    h3,
    p {
        margin-bottom: 24px;
    }
}

.enforcement {
    ul {
        list-style: circle;
    }

    li {
        margin-left: 32px;
    }
}
