.wrapper {
    position: sticky;
    height: 100%;
    overflow-y: auto;
    top: var(--header-height);
    display: flex;
    flex-direction: column;
    width: 350px;
    z-index: 2;

    .admin {
        font-size: 3rem;
        text-align: center;
        padding: 12px 0;
        color: var(--primary);
        user-select: none;
    }

    .nav {
        font-size: 2rem;
        padding: 12px 0 12px 60px;
        margin: 4px 12px;
        border: 1.5px solid rgba(0, 0, 0, 0.3);
        border-radius: 12px;
    }

    .active {
        color: var(--white);
        border: 2px solid var(--white);
        box-shadow: 0 0 0 2px var(--primary);
        background-color: var(--primary);
    }
}
